<div class="container">
  <div class="row" style="display: flex; height: 200px; justify-content: center; align-items: center;">
    <div class="col-12 greeting">
      <p class="text-center" style="font-size: 40px;">This is a MEAN stack app</p>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-sm-4">
      <h3 class="text-center">Express Backend</h3>
      <p class="text-center">A Node.js/Express server using Mongoose</p>
    </div>
    <div class="col-sm-4">
      <h3 class="text-center">Angular CLI</h3>
      <p class="text-center">Angular-CLI to generate components, services and more</p>
    </div>
    <div class="col-sm-4">
      <h3 class="text-center">JWT tokens</h3>
      <p class="text-center">Full featured authentication using JSON web tokens</p>
    </div>
  </div>
</div>