<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a class="nav-link px-2 text-white">MEAN stack app</a></li>
        <li><a class="nav-link px-2 text-white" routerLink="/" routerLinkActive="active"
            routerLinkActiveOptions="{exact: true}">Home</a></li>
      </ul>

      <div class="text-end">
        <button *ngIf="!authService.loggedIn()" type="button" class="btn btn-outline-light me-2" routerLink="/login"
          routerLinkActive="active" routerLinkActiveOptions="{exact: true}">Login</button>
        <button *ngIf="!authService.loggedIn()" type="button" class="btn btn-warning" routerLink="/register"
          routerLinkActive="active" routerLinkActiveOptions="{exact: true}">Register</button>
        <button *ngIf="authService.loggedIn()" type="button" class="btn btn-info" routerLink="/profile"
          routerLinkActive="active" routerLinkActiveOptions="{exact: true}">Profile</button>
        <button *ngIf="authService.loggedIn()" type="button" class="btn btn-primary" routerLink="/dashboard"
          routerLinkActive="active" routerLinkActiveOptions="{exact: true}">Dashboard</button>
        <button *ngIf="authService.loggedIn()" type="button" class="btn btn-danger" (click)="onLogoutClick()"
          href="#">Logout</button>
      </div>
    </div>
  </div>
</header>